@tailwind base;
@tailwind components;

.prose {
  @apply break-words p-4 max-w-full;
}

.prose a {
  @apply text-blue-600 !important;
}

.prose h1 {
  @apply border-b pb-4;
}

.prose h2 {
  @apply pb-2 mt-4;
}

.prose ul ul {
  @apply my-2;
}

.prose li {
  @apply p-0 m-0 mb-2;
}

.prose ul > li::before {
  @apply bg-gray-500;
}

.prose code,
.prose pre code {
  font-family: menlo, inconsolata, monospace;
  color: yellowgreen;
  background-color: #2d3748;
  @apply font-normal;
}

.prose pre code {
  padding: 0.2em 0.4em;
  border-radius: 2px;
}

.prose blockquote {
  @apply text-gray-600;
}

@tailwind utilities;
